button {
    height: 90px;
    width: 290px;
    font-size:28px;
    color:aliceblue;
    border: none;
    background-color: blue;
    transition-property: background-color;
    transition-duration: 3000ms;
    
}


button:hover {
    background-color: #892CDC;
}